* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  font: 14px/1 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
.left {
  float: left;
}
.right {
  float: right;
}

/*MAIN STYLES*/
.b__search {
	background: linear-gradient(to bottom, #E7AE13, #ECA10D);
	min-width: 565px;
	height: 58px;
	width: 60%;
	margin: 20% auto;
	padding: 4px;
	padding-right: 30px;
	position: relative;
}

.b__search:after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 29px 0 29px 20px;
	border-color: #fff #fff #fff transparent;
}


input[type="search"] {
	width: 86%;
	height: 28px;
	border: 0;
	padding: 0 5px;
	margin-bottom: 5px;
	box-shadow: inset -1px 1px 5px 0 #A8A8A8;
	font-size: 16px;
}

input[type="submit"] {
	border: 1px solid #898989;
	border-top: 1px solid #ccc;
	width: 70px;
	height: 25px;
	font-size: 14px;
	background: #F8F8F8;
	border-radius: 3px;
	background: linear-gradient(to bottom, #F8F6FB, #E0EDED);
}

.advice__link {
	color: #000;
	border-bottom: 2px dotted;
}