@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	font: 14px/1 'Lato', sans-serif;

	height: 100%;

	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
}

/*MAIN STYLES*/

.work {
	padding: 80px 0;

	background: #f6f9f9;
}

.work__title {
	font-size: 41px;

	position: relative;

	margin-bottom: 20px;

	text-align: center;
	text-transform: uppercase;

	color: #2d3950;
}


.work__annotation {
	font-size: 15px;

	display: block;

	margin-bottom: 70px;

	text-align: center;

	color: #909090;
}

.thumbnails {
	max-width: 1170px;
	margin: 0 auto;
}

.work__pic {
	position: relative;

	display: inline-block;

	width: 360px;
	height: 260px;
	margin: 0 15px 30px;
}

.work__img {
	display: block;

	width: 360px;
	height: 260px;
}


.work__pic_scale,
.work__pic_link {
	font-size: 1.4em;

	position: absolute;
	top: 110px;

	width: 40px;
	height: 40px;
	padding-top: .4em;

	transition: all .2s;
	text-align: center;

	color: #fff;
	border: 1px solid #fff;
	border-radius: 2px;
}

.work__pic_scale {
	left: 130px;
}

.work__pic_link {
	right: 130px;
}

.work__pic_hover {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 0;

	transition: all .4s;

	opacity: 0;
	background: rgba(21,164,250, .8);
}

.work__pic:hover .work__pic_hover {
	height: 100%;

	opacity: 1;
}

.work__pic_scale:hover,
.work__pic_link:hover {
	color: #162f4e;
	border-color: transparent;
}

/*popup*/

.overlay {
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	visibility: hidden;

	-webkit-transition: all .5s;
	        transition: all .5s;

	opacity: 0;
	background-color: rgba(255,255,255, 1);
}

.overlay:target {
	visibility: visible;

	opacity: 1;
}

.popup {
	position: fixed;
	z-index: 10;
	top: 20%;
	right: 0;
	bottom: 0;
	left: 0;

	visibility: hidden;

	width: 1144px;
	height: 554px;
	margin: 0 auto;

	-webkit-transition: all ease-in .5s;
	        transition: all ease-in .5s;

	opacity: 0;
	border: 2px solid #999;
	border-radius: 5px;
}

.overlay:target + .popup {
	top: 10%;

	visibility: visible;

	opacity: 1;
}

.close {
	position: absolute;
	z-index: 99;
	top: -20px;
	right: 20px;

	width: 40px;
	height: 40px;

	background: #15a4fa;
}

.close:before {
	font-size: 2em;

	position: absolute;
	top: 2px;
	left: 12px;

	content: 'x';

	color: #fff;
}

.close:hover {
	background: #fa4b15;
}
/*end popup*/


/*MEDIA*/
@media (max-width: 1170px) {
	.thumbnails {
		width: 780px;
	}
}

@media (max-width: 780px) {
	.thumbnails {
		width: 390px;
	}
}